{% extends "base.html" %}
{% block title %}
Kullanıcı Ekle
{% endblock %}
{% block content %}
<h1>Yeni Kullanıcı Ekle</h1>
<br>
<form method="POST">
    <input
        type="text"
        name="username"
        placeholder="Kullanıcı Adı"
        required
        style="width:350px;padding:12px;border-radius:8px;border:none;background:#1e293b;color:white;"
    >
    <br><br>
    <input
        type="password"
        name="password"
        placeholder="Şifre"
        required
        style="width:350px;padding:12px;border-radius:8px;border:none;background:#1e293b;color:white;"
    >
    <br><br>
    <button
        type="submit"
        style="padding:12px 20px;background:#2563eb;color:white;border:none;border-radius:8px;cursor:pointer;">
        ➕ Kullanıcı Ekle
    </button>
</form>
{% endblock %}