{% extends "base.html" %}

{% block title %}Adyen{% endblock %}

{% block content %}

<h1>💳 Adyen</h1>

<div style="
background:#1e293b;
padding:25px;
border-radius:12px;
margin-top:20px;
">

<h3>Durum</h3>

<p>🔴 Durdu</p>

<br>

<a href="/module1/start"
style="
background:#16a34a;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:8px;
margin-right:10px;
">
▶️ Başlat
</a>

<a href="/module1/stop"
style="
background:#dc2626;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:8px;
">
⏹️ Durdur
</a>

</div>

{% endblock %}