{% extends "base.html" %}

{% block title %}
Kullanıcılar
{% endblock %}

{% block content %}

<h1>Kullanıcılar</h1>

<br>

<a href="/add_user"
   style="background:#2563eb;color:white;padding:10px 15px;border-radius:8px;text-decoration:none;">
    ➕ Yeni Kullanıcı Ekle
</a>

<br><br>

<table style="width:100%;border-collapse:collapse;background:#1e293b;">

    <tr>
        <th style="padding:15px;border:1px solid #334155;">ID</th>
        <th style="padding:15px;border:1px solid #334155;">Kullanıcı Adı</th>
        <th style="padding:15px;border:1px solid #334155;">İşlem</th>
    </tr>

    {% for user in users %}
    <tr>
        <td style="padding:15px;border:1px solid #334155;">{{ user[0] }}</td>
        <td style="padding:15px;border:1px solid #334155;">{{ user[1] }}</td>
        <td style="padding:15px;border:1px solid #334155;">
            <a href="/delete_user/{{ user[0] }}"
               style="color:#ef4444;text-decoration:none;">
                🗑️ Sil
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}